.gdbar img {
  width: 150px !important;
  height: 80px !important;
  margin: 4px 4px;
}

.gdbar {
  width: 400px !important;
  height: 100px !important;
  color: white;
}

slides > slide {
  font-family: "Futura", Times, serif;
}


slides > slide:not(.nobackground):before {
  width: 108px;
  height: 40px;
  background-size: 108px 40px;
}

body{
  font-family: Helvetica;
  font-size: 24pt;
}

slides>slide.title-slide {
  background-image: url('https://live.staticflickr.com/65535/51638651358_dc0e0d6d60_b_d.jpg');
  background-size: 100% 100%;
}

slides > slide.title-slide p{
  color: white;
}

slides > slide.title-slide h1{
  color: white;
}
slides > slide.title-slide a{
  color: white;
}
slides > slide.title-slide a{
  color: white;
}
